page-reg-form {
  .list-md .item-input:last-child {
    border-bottom:none;
  }
  ion-input, ion-datetime .datetime-text, ion-select .select-text {
    color: #757373;
  }
  ion-item.item {
    padding-left: 0;
  }  
  ion-datetime {
    padding:8px 0px 8px 0px !important;
  }
  ion-icon.helpcircle {
    position: relative;
    top:2vh;
  }
  ion-icon.helpcircle.icon-wp{
    top:0;
  }
  ion-label.is-invalid {
    border-bottom: 1px solid #db0e0e;
  }
  
  .list-ios > .item-block:first-child {
    border-top: none;
  }
  .label[stacked] {
    font-size: 1.5rem;
  }
  .error {
    padding-top: 4px;
  }

  .item-md.item-select.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: #f53d3d;
    -webkit-box-shadow: inset 0 -1px 0 0 #f53d3d;
    box-shadow: inset 0 -1px 0 0 #f53d3d;
  }

  .list-md .item-select.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus):last-child {
    border-bottom-color: #f53d3d;
    -webkit-box-shadow: inset 0 -1px 0 0 #f53d3d;
    box-shadow: inset 0 -1px 0 0 #f53d3d;
  }

  .text-input::-moz-placeholder {
    font-size: 85%;
  }
  .text-input:-ms-input-placeholder {
    font-size: 85%;
  }
  .text-input::-webkit-input-placeholder {
    font-size: 85%;
  }
}
