<ion-header>
  <ion-navbar color="synced" no-border-bottom>
    <ion-title>
      <span *ngIf="siteData">{{ siteData.siteName }}</span>
      <span>Registration From</span>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)='doResetForm()'>
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar no-border-top color="synced">
    <ion-segment [(ngModel)]="ApplicationForm" color="light" (ionChange)="onSegmentChange($event)">
      <ion-segment-button value="applicant">Applicant</ion-segment-button>
      <ion-segment-button value="father" [disabled]="btnFather">Father</ion-segment-button>
      <ion-segment-button value="mother" [disabled]="btnMother">Mother</ion-segment-button>
      <ion-segment-button value="contact" [disabled]="btnContact">Contact</ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content padding class="outer-content">

  <form (ngSubmit)="onRegistrationSubmit(regForm.value)" novalidate>

    <div [ngSwitch]="ApplicationForm" [formGroup]="regForm">

      <ion-list *ngSwitchCase="'applicant'" formGroupName="applicantGroup">

        <ion-item>
          <ion-label stacked class="required">Name of the Applicant </ion-label>
          <ion-input type="text" [(ngModel)]="applicantName" formControlName="applicantName" autocapitalize="sentences"></ion-input>
          <ion-icon name="help-circle" class="helpcircle" item-right tooltip="As in (date of birth) certificate" positionH="left" arrow></ion-icon>
        </ion-item>

        <ng-container *ngFor="let validation of validationMessage.applicantName">
          <div class="error" *ngIf="regForm.get('applicantGroup').get('applicantName').hasError(validation.type) && (regForm.get('applicantGroup').get('applicantName').dirty || regForm.get('applicantGroup').get('applicantName').touched)">
            {{ validation.message }}
          </div>
        </ng-container>

        <ion-item>
          <ion-label stacked class="required">Aadhaar Number </ion-label>
          <ion-input type="number" pattern="\\d*" [(ngModel)]="aadhaarNo" formControlName="aadhaarNo" placeholder="ex: UID (333344445555)" max="12" [attr.maxlength]="12"></ion-input>
        </ion-item>
        <ng-container *ngFor="let validation of validationMessage.aadhaarNo">
          <div class="error" *ngIf="regForm.get('applicantGroup').get('aadhaarNo').hasError(validation.type) && (regForm.get('applicantGroup').get('aadhaarNo').dirty || regForm.get('applicantGroup').get('aadhaarNo').touched)">
            {{ validation.message }}
          </div>
        </ng-container>

        <ion-item>
          <ion-label stacked>Date of Birth</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="dob" formControlName="dob"></ion-datetime>
        </ion-item>

        <ion-grid no-padding>
          <ion-row no-padding>
            <ion-col col-6>
                <ion-item>
                  <ion-label stacked>Gender</ion-label>
                  <ion-select [(ngModel)]="sex" formControlName="sex">
                    <ion-option value="Female">Female</ion-option>
                    <ion-option value="Male">Male</ion-option>
                  </ion-select>
                </ion-item>
            </ion-col>
            <ion-col col-6>
                <ion-item>
                  <ion-label stacked class="required">Class applied for </ion-label>
                  <ion-select [(ngModel)]="classesID" formControlName="classesID">
                    <ion-option *ngFor="let classOption of classOptionsFormatted" [value]="classOption.abbr">{{ classOption.name }}</ion-option>
                  </ion-select>
                </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid no-padding>
          <ion-row no-padding>
            <ion-col col-6>
              <ion-item>
                <ion-label stacked class="required">Caste </ion-label>
                <ion-select [(ngModel)]="caste" formControlName="caste">
                  <ion-option *ngFor="let casteOption of casteOptionsFormatted" [value]="casteOption.abbr">{{ casteOption.name }}</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col col-6>
              <ion-item>
                <ion-label stacked class="required">Religion </ion-label>
                <ion-select [(ngModel)]="religion" formControlName="religion">
                  <ion-option *ngFor="let religionOption of religionOptionsFormatted" [value]="religionOption.abbr">{{ religionOption.name }}</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid no-padding>
          <ion-row no-padding>
            <ion-col col-6>
              <ion-item>
                <ion-label stacked class="required">Mother Tongue </ion-label>
                <ion-select [(ngModel)]="mother_tongue" formControlName="mother_tongue">
                  <ion-option *ngFor="let mtOption of mtOptionsFormatted" [value]="mtOption.abbr">{{ mtOption.name }}</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col col-6>
              <ion-item>
                <ion-label stacked>Blood Group </ion-label>
                <ion-select [(ngModel)]="bloodgroup" formControlName="bloodgroup">
                  <ion-option *ngFor="let bgOption of bgOptionsFormatted" [value]="bgOption.abbr">{{ bgOption.name }}</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>


        <ion-item>
          <ion-label stacked class="required">Nationality </ion-label>
          <ion-input type="text" [(ngModel)]="nationality" formControlName="nationality" clearInput></ion-input>
        </ion-item>
        <ng-container *ngFor="let validation of validationMessage.nationality">
          <div class="error" *ngIf="regForm.get('applicantGroup').get('nationality').hasError(validation.type) && (regForm.get('applicantGroup').get('nationality').dirty || regForm.get('applicantGroup').get('nationality').touched)">
            {{ validation.message }}
          </div>
        </ng-container>

        <ion-item>
          <ion-label floating>Identification Marks 1. </ion-label>
          <ion-input type="text" [(ngModel)]="id_marks_one" formControlName="id_marks_one" clearInput></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Identification Marks 2. </ion-label>
          <ion-input type="text" [(ngModel)]="id_marks_two" formControlName="id_marks_two" clearInput></ion-input>
        </ion-item>
        
        <div>
          <ion-grid>
            <ion-row>
              <ion-col col-6 offset-6>
                <button type="submit" ion-button full color="synced" [disabled]="!applicantGroup.valid" (click)="gotoNext('father')">Next</button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        

      </ion-list>

      <ion-list *ngSwitchCase="'father'">
        <ion-item>
          
          
        </ion-item>

        <div>
          <ion-grid>
            <ion-row>
              <ion-col col-6>
                <button type="button" ion-button full color="synced" (click)="gotoBack('applicant')">Back</button>
              </ion-col>
              <ion-col col-6>
                <button type="submit" ion-button full color="synced" (click)="gotoNext('mother')">Next</button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>

      </ion-list>

      <ion-list *ngSwitchCase="'mother'">
        <ion-item>
          <h4>Mother</h4>
        </ion-item>
        <div>
          <ion-grid>
            <ion-row>
              <ion-col col-6>
                <button type="button" ion-button full color="synced" (click)="gotoBack('father')">Back</button>
              </ion-col>
              <ion-col col-6>
                <button type="submit" ion-button full color="synced" (click)="gotoNext('contact')">Next</button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>

      </ion-list>

      <ion-list *ngSwitchCase="'contact'">
        <ion-item>
          <h4>Contact Information</h4>
        </ion-item>
        <div>
          <ion-grid>
            <ion-row>
              <ion-col col-6>
                <button type="button" ion-button full color="synced" (click)="gotoBack('mother')">Back</button>
              </ion-col>
              <ion-col col-6>
                <button type="submit" ion-button full color="primary">Submit</button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </ion-list>



    </div>

  </form>
</ion-content>