<ion-header>
  <ion-navbar color="synced" no-border-bottom>
    <ion-title>
      <span *ngIf="siteData">{{ siteData.siteName }}</span>
      <span>Registration From</span>
    </ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top color="synced" *ngIf="!hideForm">
    <ion-segment [(ngModel)]="ApplicationForm" color="light" (ionChange)="onSegmentChange($event)">
      <ion-segment-button value="applicant">Applicant</ion-segment-button>
      <ion-segment-button value="father" [disabled]="btnFather">Father</ion-segment-button>
      <ion-segment-button value="mother" [disabled]="btnMother">Mother</ion-segment-button>
      <ion-segment-button value="contact" [disabled]="btnContact">Contact</ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content padding>
  <div *ngIf="!hideForm">
    <form [formGroup]="regForm" (ngSubmit)="onRegistrationSubmit(regForm.value)" novalidate>

      <div [ngSwitch]="ApplicationForm">

        <ion-list *ngSwitchCase="'applicant'" formGroupName="applicantGroup">

          <ion-item>
            <ion-label stacked>Name of the Applicant </ion-label>
            <ion-input type="text" [(ngModel)]="applicantName" formControlName="applicantName" autocapitalize="sentences"></ion-input>
            <ion-icon name="help-circle" class="helpcircle" item-right tooltip="As in (date of birth) certificate" positionH="left" arrow></ion-icon>
          </ion-item>

          <ng-container *ngFor="let validation of validationMessage.applicantName">
            <div class="error" *ngIf="regForm.get('applicantGroup').get('applicantName').hasError(validation.type) && (regForm.get('applicantGroup').get('applicantName').dirty || regForm.get('applicantGroup').get('applicantName').touched)">
              {{ validation.message }}
            </div>
          </ng-container>

          <ion-item>
            <ion-label stacked>Aadhaar Number </ion-label>
            <ion-input type="tel" pattern="\\d*" [(ngModel)]="aadhaarNo" formControlName="aadhaarNo" placeholder="ex: UID (333344445555)" max="12" [attr.maxlength]="12"></ion-input>
          </ion-item>
          <ng-container *ngFor="let validation of validationMessage.aadhaarNo">
            <div class="error" *ngIf="regForm.get('applicantGroup').get('aadhaarNo').hasError(validation.type) && (regForm.get('applicantGroup').get('aadhaarNo').dirty || regForm.get('applicantGroup').get('aadhaarNo').touched)">
              {{ validation.message }}
            </div>
          </ng-container>

          <ion-item>
            <ion-label stacked>Date of Birth</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="dob" formControlName="dob"></ion-datetime>
          </ion-item>

          <ion-grid no-padding>
            <ion-row no-padding>
              <ion-col col-6>
                  <ion-item>
                    <ion-label stacked>Gender</ion-label>
                    <ion-select [(ngModel)]="sex" formControlName="sex">
                      <ion-option value="Female">Female</ion-option>
                      <ion-option value="Male">Male</ion-option>
                    </ion-select>
                  </ion-item>
              </ion-col>
              <ion-col col-6>
                  <ion-item>
                    <ion-label stacked>Class applied for </ion-label>
                    <ion-select [(ngModel)]="classesID" formControlName="classesID">
                      <ion-option *ngFor="let classOption of classOptionsFormatted" [value]="classOption.abbr">{{ classOption.name }}</ion-option>
                    </ion-select>
                  </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-grid no-padding>
            <ion-row no-padding>
              <ion-col col-6>
                <ion-item>
                  <ion-label stacked>Caste </ion-label>
                  <ion-select [(ngModel)]="caste" formControlName="caste">
                    <ion-option *ngFor="let casteOption of casteOptionsFormatted" [value]="casteOption.abbr">{{ casteOption.name }}</ion-option>
                  </ion-select>
                </ion-item>
              </ion-col>
              <ion-col col-6>
                <ion-item>
                  <ion-label stacked>Religion </ion-label>
                  <ion-select [(ngModel)]="religion" formControlName="religion">
                    <ion-option *ngFor="let religionOption of religionOptionsFormatted" [value]="religionOption.abbr">{{ religionOption.name }}</ion-option>
                  </ion-select>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-grid no-padding>
            <ion-row no-padding>
              <ion-col col-6>
                <ion-item>
                  <ion-label stacked>Mother Tongue </ion-label>
                  <ion-select [(ngModel)]="mother_tongue" formControlName="mother_tongue">
                    <ion-option *ngFor="let mtOption of mtOptionsFormatted" [value]="mtOption.abbr">{{ mtOption.name }}</ion-option>
                  </ion-select>
                </ion-item>
              </ion-col>
              <ion-col col-6>
                <ion-item>
                  <ion-label stacked>Blood Group </ion-label>
                  <ion-select [(ngModel)]="bloodgroup" formControlName="bloodgroup">
                    <ion-option *ngFor="let bgOption of bgOptionsFormatted" [value]="bgOption.abbr">{{ bgOption.name }}</ion-option>
                  </ion-select>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>


          <ion-item>
            <ion-label stacked>Nationality </ion-label>
            <ion-input type="text" [(ngModel)]="nationality" formControlName="nationality" clearInput></ion-input>
          </ion-item>
          <ng-container *ngFor="let validation of validationMessage.nationality">
            <div class="error" *ngIf="regForm.get('applicantGroup').get('nationality').hasError(validation.type) && (regForm.get('applicantGroup').get('nationality').dirty || regForm.get('applicantGroup').get('nationality').touched)">
              {{ validation.message }}
            </div>
          </ng-container>

          <ion-item>
            <ion-label floating>Identification Marks 1. </ion-label>
            <ion-input type="text" [(ngModel)]="id_marks_one" formControlName="id_marks_one" clearInput></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Identification Marks 2. </ion-label>
            <ion-input type="text" [(ngModel)]="id_marks_two" formControlName="id_marks_two" clearInput></ion-input>
          </ion-item>
          
          <ion-grid>
            <ion-row>
              <ion-col col-12>
                <button type="submit" ion-button block color="synced" [disabled]="!applicantGroup.valid" (click)="gotoNext('father')">Next</button>
              </ion-col>
            </ion-row>
          </ion-grid>

        </ion-list>

        <ion-list *ngSwitchCase="'father'" formGroupName="fatherGroup">

          <ion-item>
            <ion-label stacked>Name </ion-label>
            <ion-input type="text" [(ngModel)]="father_name" formControlName="father_name" autocapitalize="sentences" placeholder="Father's or guardian name"></ion-input>
          </ion-item>
          <ng-container *ngFor="let validation of validationFatherMessage.father_name">
            <div class="error" *ngIf="regForm.get('fatherGroup').get('father_name').hasError(validation.type) && (regForm.get('fatherGroup').get('father_name').dirty || regForm.get('fatherGroup').get('father_name').touched)">
              {{ validation.message }}
            </div>
          </ng-container>

          <ion-item>
            <ion-label stacked>Qualification </ion-label>
            <ion-input type="text" [(ngModel)]="father_qualification" formControlName="father_qualification" autocapitalize="sentences"></ion-input>
          </ion-item>
          <ng-container *ngFor="let validation of validationFatherMessage.father_qualification">
            <div class="error" *ngIf="regForm.get('fatherGroup').get('father_qualification').hasError(validation.type) && (regForm.get('fatherGroup').get('father_qualification').dirty || regForm.get('fatherGroup').get('father_qualification').touched)">
              {{ validation.message }}
            </div>
          </ng-container>

          <ion-item>
            <ion-label stacked>Profession / Occupation </ion-label>
            <ion-input type="text" [(ngModel)]="father_profession" formControlName="father_profession" spellcheck="false" autocapitalize="off"></ion-input>
          </ion-item>
          <ng-container *ngFor="let validation of validationFatherMessage.father_profession">
            <div class="error" *ngIf="regForm.get('fatherGroup').get('father_profession').hasError(validation.type) && (regForm.get('fatherGroup').get('father_profession').dirty || regForm.get('fatherGroup').get('father_profession').touched)">
              {{ validation.message }}
            </div>
          </ng-container>

          <ion-item>
            <ion-label stacked>Mobile</ion-label>
            <ion-input type="number" [(ngModel)]="father_phone" formControlName="father_phone" pattern="\\d*" placeholder="9908xxxxxx"></ion-input>
          </ion-item>
          <ng-container *ngFor="let validation of validationFatherMessage.father_phone">
            <div class="error" *ngIf="regForm.get('fatherGroup').get('father_phone').hasError(validation.type) && (regForm.get('fatherGroup').get('father_phone').dirty || regForm.get('fatherGroup').get('father_phone').touched)">
              {{ validation.message }}
            </div>
          </ng-container>

          <ion-item>
            <ion-label stacked>Email</ion-label>
            <ion-input type="text" [(ngModel)]="father_email" formControlName="father_email" placeholder="yourname@domain.com"></ion-input>
          </ion-item>
          <ng-container *ngFor="let validation of validationFatherMessage.father_email">
            <div class="error" *ngIf="regForm.get('fatherGroup').get('father_email').hasError(validation.type) && (regForm.get('fatherGroup').get('father_email').dirty || regForm.get('fatherGroup').get('father_email').touched)">
              {{ validation.message }}
            </div>
          </ng-container>

          <ion-item>
            <ion-label stacked>Monthly Income</ion-label>
            <ion-input type="number" [(ngModel)]="monthly_income" formControlName="monthly_income" pattern="\\d*"></ion-input>
          </ion-item>
          <ng-container *ngFor="let validation of validationFatherMessage.monthly_income">
            <div class="error" *ngIf="regForm.get('fatherGroup').get('monthly_income').hasError(validation.type) && (regForm.get('fatherGroup').get('monthly_income').dirty || regForm.get('fatherGroup').get('monthly_income').touched)">
              {{ validation.message }}
            </div>
          </ng-container>

          <ion-grid>
            <ion-row>
              <ion-col col-6>
                <button type="button" ion-button full color="synced" (click)="gotoBack('applicant')">Back</button>
              </ion-col>
              <ion-col col-6>
                <button type="submit" ion-button full color="synced" [disabled]="!fatherGroup.valid" (click)="gotoNext('mother')">Next</button>
              </ion-col>
            </ion-row>
          </ion-grid>

        </ion-list>

        <ion-list *ngSwitchCase="'mother'" formGroupName="motherGroup">

          <ion-item>
            <ion-label stacked>Name </ion-label>
            <ion-input type="text" [(ngModel)]="mother_name" formControlName="mother_name" autocapitalize="sentences"></ion-input>
          </ion-item>
          <ng-container *ngFor="let validation of validationMotherMessage.mother_name">
            <div class="error" *ngIf="regForm.get('motherGroup').get('mother_name').hasError(validation.type) && (regForm.get('motherGroup').get('mother_name').dirty || regForm.get('motherGroup').get('mother_name').touched)">
              {{ validation.message }}
            </div>
          </ng-container>

          <ion-item>
            <ion-label stacked>Qualification </ion-label>
            <ion-input type="text" [(ngModel)]="mother_qualification" formControlName="mother_qualification" autocapitalize="sentences"></ion-input>
          </ion-item>
          <ng-container *ngFor="let validation of validationMotherMessage.mother_qualification">
            <div class="error" *ngIf="regForm.get('motherGroup').get('mother_qualification').hasError(validation.type) && (regForm.get('motherGroup').get('mother_qualification').dirty || regForm.get('motherGroup').get('mother_qualification').touched)">
              {{ validation.message }}
            </div>
          </ng-container>

          <ion-item>
            <ion-label stacked>Profession / Occupation </ion-label>
            <ion-input type="text" [(ngModel)]="mother_profession" formControlName="mother_profession" spellcheck="false" autocapitalize="off"></ion-input>
          </ion-item>
          <ng-container *ngFor="let validation of validationMotherMessage.mother_profession">
            <div class="error" *ngIf="regForm.get('motherGroup').get('mother_profession').hasError(validation.type) && (regForm.get('motherGroup').get('mother_profession').dirty || regForm.get('motherGroup').get('mother_profession').touched)">
              {{ validation.message }}
            </div>
          </ng-container>

          <ion-item>
            <ion-label stacked>Mobile </ion-label>
            <ion-input type="number" [(ngModel)]="mother_phone" formControlName="mother_phone" pattern="\\d*" placeholder="9908xxxxxx"></ion-input>
          </ion-item>
          <ng-container *ngFor="let validation of validationMotherMessage.mother_phone">
            <div class="error" *ngIf="regForm.get('motherGroup').get('mother_phone').hasError(validation.type) && (regForm.get('motherGroup').get('mother_phone').dirty || regForm.get('motherGroup').get('mother_phone').touched)">
              {{ validation.message }}
            </div>
          </ng-container>

          <ion-item>
            <ion-label stacked>Email </ion-label>
            <ion-input type="text" [(ngModel)]="mother_email" formControlName="mother_email" placeholder="yourname@domain.com"></ion-input>
          </ion-item>
          <ng-container *ngFor="let validation of validationMotherMessage.mother_email">
            <div class="error" *ngIf="regForm.get('motherGroup').get('mother_email').hasError(validation.type) && (regForm.get('motherGroup').get('mother_email').dirty || regForm.get('motherGroup').get('mother_email').touched)">
              {{ validation.message }}
            </div>
          </ng-container>

          <ion-grid>
            <ion-row>
              <ion-col col-6>
                <button type="button" ion-button full color="synced" (click)="gotoBack('father')">Back</button>
              </ion-col>
              <ion-col col-6>
                <button type="submit" ion-button full color="synced" [disabled]="!motherGroup.valid" (click)="gotoNext('contact')">Next</button>
              </ion-col>
            </ion-row>
          </ion-grid>

        </ion-list>

        <ion-list *ngSwitchCase="'contact'" formGroupName="contactGroup">

          <ion-item>
            <ion-label stacked>Email </ion-label>
            <ion-input type="text" [(ngModel)]="email" formControlName="email" placeholder="yourname@domain.com"></ion-input>
          </ion-item>
          <ng-container *ngFor="let validation of validationContactMessage.email">
            <div class="error" *ngIf="regForm.get('contactGroup').get('email').hasError(validation.type) && (regForm.get('contactGroup').get('email').dirty || regForm.get('contactGroup').get('email').touched)">
              {{ validation.message }}
            </div>
          </ng-container>

          <ion-item>
            <ion-label stacked>Contact Number </ion-label>
            <ion-input type="number" [(ngModel)]="phone" formControlName="phone" pattern="\\d*" placeholder="9908xxxxxx"></ion-input>
          </ion-item>
          <ng-container *ngFor="let validation of validationContactMessage.phone">
            <div class="error" *ngIf="regForm.get('contactGroup').get('phone').hasError(validation.type) && (regForm.get('contactGroup').get('phone').dirty || regForm.get('contactGroup').get('phone').touched)">
              {{ validation.message }}
            </div>
          </ng-container>

          <ion-item>
            <ion-label stacked>Address </ion-label>
            <ion-input type="text" [(ngModel)]="address" formControlName="address" placeholder="Street Address, Apt., Suite, Bldg."></ion-input>
          </ion-item>
          <ng-container *ngFor="let validation of validationContactMessage.address">
            <div class="error" *ngIf="regForm.get('contactGroup').get('address').hasError(validation.type) && (regForm.get('contactGroup').get('address').dirty || regForm.get('contactGroup').get('address').touched)">
              {{ validation.message }}
            </div>
          </ng-container>

          <ion-grid no-padding>
            <ion-row>
              <ion-col col-6>
                <ion-item>
                  <ion-label stacked>City </ion-label>
                  <ion-input type="text" [(ngModel)]="city" formControlName="city" placeholder="Town/City"></ion-input>
                </ion-item>
                <ng-container *ngFor="let validation of validationContactMessage.city">
                  <div class="error" *ngIf="regForm.get('contactGroup').get('city').hasError(validation.type) && (regForm.get('contactGroup').get('city').dirty || regForm.get('contactGroup').get('city').touched)">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </ion-col>
              <ion-col col-6>
                <ion-item>
                  <ion-label stacked>Pincode </ion-label>
                  <ion-input type="tel" pattern="\\d*" [(ngModel)]="pincode" formControlName="pincode" placeholder="ex: (500028)" max="10"
                    [attr.maxlength]="10"></ion-input>
                </ion-item>
                <ng-container *ngFor="let validation of validationMessage.pincode">
                  <div class="error" *ngIf="regForm.get('applicantGroup').get('pincode').hasError(validation.type) && (regForm.get('applicantGroup').get('pincode').dirty || regForm.get('applicantGroup').get('pincode').touched)">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-item>
            <ion-label stacked>Country </ion-label>
            <ion-select [(ngModel)]="country" formControlName="country">
              <ion-option *ngFor="let countryOption of countryOptionsFormatted" [value]="countryOption.abbr">{{ countryOption.name }}</ion-option>
            </ion-select>
          </ion-item>

          <ion-grid>
            <ion-row>
              <ion-col col-6>
                <button type="button" ion-button full color="synced" (click)="gotoBack('mother')">Back</button>
              </ion-col>
              <ion-col col-6>
                <button type="submit" ion-button full color="primary" [disabled]="!contactGroup.valid">Submit</button>
              </ion-col>
            </ion-row>
          </ion-grid>

        </ion-list>

      </div>
    </form>
  </div>

  <div *ngIf="hideForm">
    <ion-card>
      <ion-card-content>
        <ion-card-title>Success!</ion-card-title>
        <p *ngIf="serverRes">Your enrolment number is : <strong>{{ serverRes.message }}</strong></p>
        <p *ngIf="!serverRes">Invalid application, contact support team.</p>
      </ion-card-content>
      <ion-row no-padding>
        <ion-col>
          <button ion-button clear color="danger" icon-start (click)="goBack()" >
            <ion-icon name='ios-arrow-back'></ion-icon>
            Back 
          </button>
        </ion-col>
        <ion-col text-right>
          <button ion-button clear color="danger" icon-end (click)="doTrack(serverRes.message)" >
            Track Application
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>

</ion-content>