// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  danger-light:#F55F5F,
  light:      #f4f4f4,
  dark:       #222,
  energized:  #ffc527,
  synced:     #3487b8,
  royal:      #7e60ff,
  subtle:     #444444,
  bright:     #ffc125,
  all:  #3487b8,
  ssc:  #32db64,
  cbse: #ffc527,
  icse: #7e60ff,
);

$categories-colors: (
  default: #8E8D93,
  high: #FE4C52,
  medium: color($colors, primary),
  normal: #3bc7c4,
  low: #FD8B2D
);

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/
  ion-title {
    span {
      text-transform: capitalize;
      display: block;
      font-weight:400;
      text-align: left;
    }
    span+span{
      font-size:1.25rem;
      font-weight:200;
      letter-spacing: 0.1rem;
    }
    span em {
      font-weight: 900;
      font-style: normal;
      margin-left:0.05em;
    }
  }
  ion-title.title-ios {
    span {
      text-align: center;
    }
  }
  .error {
    color: color($colors, danger);
  }
  .toast-error .toast-message{
    background-color: color($colors, danger);
  }
  .toast-success .toast-message{
    background-color: color($colors, synced);
  }

  ion-label.required:after {
    content:"*";
    color:red;
  }

$text-input-highlight-color-invalid: color($colors, danger);

  // App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$item-ios-detail-push-show: true;
$text-input-ios-show-focus-highlight: false;
$text-input-ios-show-focus-highlight: false;
$text-input-ios-show-success-highlight: false;
$text-input-ios-show-invalid-highlight: true;
$text-input-ios-show-valid-highlight:false;
$text-input-ios-show-error-highlight: true;


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$item-md-detail-push-show: true;
$text-input-placeholder-color:#cccccc;

$text-input-md-show-focus-highlight: false;
$text-input-md-show-success-highlight: false;
$text-input-md-show-invalid-highlight: true;
$text-input-md-show-valid-highlight:false;
$text-input-md-show-error-highlight: true;

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
$item-wp-detail-push-show: true;
$text-input-wp-show-focus-highlight: false;


// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
