<ion-header>
  <ion-navbar color="primary">
    <ion-title>Information</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="about-header" [attr.track]="schInfo? schInfo.tracks : 'default'">
    <img *ngIf="!schInfo.siteLogo" src="assets/imgs/no-logo.svg" alt="SyncEd Logo">
    <img *ngIf="schInfo.siteLogo" src="{{schInfo.siteLogo}}" alt="{{schInfo.siteName}} Logo">
  </div>
  <div padding class="about-info" *ngIf="schInfo">
    <h4 text-capitalize>{{ schInfo.siteName }}</h4>
    <p>{{ schInfo.siteAddress }}</p>
    <p class="description">{{ schInfo.siteDescription }}</p>
  </div>
</ion-content>

<ion-footer no-border bar-light>
  <ion-toolbar>
    <ion-row>
      <ion-col text-center>
        <button ion-button color="primary" (click)="trackApplication()">Track Status</button>
      </ion-col>
      <ion-col text-center>
        <button ion-button color="primary" (click)="registerApplication()">Register Now</button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
