<ion-header>
  <ion-navbar color="synced">
    <ion-title>Information</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="about-header" [attr.track]="siteInfo? siteInfo.tracks : 'default'">
    <img *ngIf="!siteInfo.siteLogo" src="assets/imgs/no-logo.svg" alt="SyncEd Logo">
    <img *ngIf="siteInfo.siteLogo" src="{{siteInfo.siteLogo}}" alt="{{siteInfo.siteName}} Logo">
  </div>
  <div padding class="about-info" *ngIf="siteInfo">
    <h4 text-capitalize>{{ siteInfo.siteName }}</h4>
    <p>{{ siteInfo.siteAddress }}</p>
    <p class="description">{{ siteInfo.siteDescription }}</p>
  </div>
</ion-content>

<ion-footer no-border bar-light>
  <ion-toolbar>
    <ion-row>
      <ion-col text-center>
        <button ion-button color="primary" (click)="trackApplication()">Track Status</button>
      </ion-col>
      <ion-col text-center>
        <button ion-button color="synced" (click)="registerApplication()">Register Now</button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
