$categories: (
  default: #8E8D93,
  high: #FE4C52,
  medium: color($colors, primary),
  normal: #3bc7c4,
  low: #FD8B2D
);

@function auxiliary-categories() {
  @return map-remove($categories);
}

page-school-list {
  @each $track, $value in auxiliary-categories() {
    ion-item-sliding[track=#{$track}] ion-label {
      border-left: 2px solid $value;
      padding-left: 8px;
    }
  }
}