<ion-header>
  <ion-navbar color="synced">
    <ion-title>
      <span *ngIf="siteData">{{ siteData.siteName }}</span>
      <span *ngIf="siteData">{{ siteData.siteAddress }}</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <h4 no-padding>Track Your Application</h4>
  <p class="sub-title">To know your application status, please provide the Enrolment or Aadhaar number.</p>

  <form [formGroup]="statusApp" (ngSubmit)="onSearchSubmit(statusApp.value)" novalidate>

    <ion-list inset>

      <div formGroupName="findout_fill">

        <ion-item>
          <ion-label floating>Enrolment Number</ion-label>
          <ion-input type="number" pattern="\\d*" [(ngModel)]="admissionNo" formControlName="admissionNo"></ion-input>
        </ion-item>

        <ng-container *ngFor="let validation of validation_messages.admissionNo">
          <div class="error" *ngIf="statusApp.get('findout_fill').get('admissionNo').hasError(validation.type) && (statusApp.get('findout_fill').get('admissionNo').dirty || statusApp.get('findout_fill').get('admissionNo').touched)">
            {{ validation.message }}
          </div>
        </ng-container>

        <ion-item>
          <ion-label floating>Aadhaar Number</ion-label>
          <ion-input type="number" pattern="\\d*" [(ngModel)]="aadhaarNo" formControlName="aadhaarNo" max="12" [attr.maxlength]="12"></ion-input>
        </ion-item>

        <ng-container *ngFor="let validation of validation_messages.aadhaarNo">
          <div class="error" *ngIf="statusApp.get('findout_fill').get('aadhaarNo').hasError(validation.type) && (statusApp.get('findout_fill').get('aadhaarNo').dirty || statusApp.get('findout_fill').get('aadhaarNo').touched)">
            {{ validation.message }}
          </div>
        </ng-container>

      </div>

      <!-- These validations are for the form group -->
      <ng-container *ngFor="let validation of validation_messages.findout_fill">
        <div class="error" padding-top *ngIf="statusApp.get('findout_fill').hasError(validation.type) && 
          ((statusApp.get('findout_fill').get('admissionNo').dirty || statusApp.get('findout_fill').get('admissionNo').touched) || 
          (statusApp.get('findout_fill').get('aadhaarNo').dirty || statusApp.get('findout_fill').get('aadhaarNo').touched))
        ">{{ validation.message }}</div>
      </ng-container>

    </ion-list>

    <ion-footer>
      <button no-margin ion-button full large color="synced" type="submit" [disabled]="!statusApp.valid">Search</button>
    </ion-footer>

  </form>

</ion-content>